<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav-left">
    <ul class="nav nav-pills">
      <li>
        <a href="" class="nav-link" routerLink="/welcome">{{ pageTitle }}</a>
      </li>
      <li>
        <a href="" class="nav-link" routerLink="/products">Product List</a>
      </li>
    </ul>
  </div>
  <div class="nav-right">
    <ul class="nav nav-pills">
      <li><a href="" class="nav-link" routerLink="/customer">Sign Up</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
